In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame([[8, 8, 4], [7, 9, 5], [6, 10, 6], [5, 12, 7]], columns=['cgpa', 'r_score', 'lpa'])
df

   cgpa  r_score  lpa
0     8        8    4
1     7        9    5
2     6       10    6
3     5       12    7

In [12]:
def initialize_parameters(layer_dims):
    np.random.seed(3)

    parameters = {}
    L = len(layer_dims)

    for l in range(1, L):
        parameters['W' + str(l)] = np.ones((layer_dims[l-1], layer_dims[l]))*0.1
        parameters['b' + str(l)] = np.zeros((1, layer_dims[l]))
    
    return parameters

In [18]:
parameters = initialize_parameters([2, 2, 1])

In [14]:
def linear_forward(A_prev, W, b):
    Z = np.dot(W.T, A_prev) + b

    return Z

In [15]:
def L_layer_forward(X, parameters):
    A = X
    L = len(parameters) // 2

    for l in range(1, L + 1):
        A_prev = A
        W1 = parameters['W' + str(l)]
        b1 = parameters['b' + str(l)]
        A = linear_forward(A_prev, W1, b1)

    return A, A_prev

In [17]:
X = df[['cgpa', 'r_score']].values[0].reshape(2, 1)
y = df[['lpa']].values[0][0]

In [19]:
L_layer_forward(X, parameters)

(array([[0.32, 0.32]]),
 array([[1.6, 1.6],
        [1.6, 1.6]]))